[Unit]
Description=Ejecutar el script de cambio de contraseñas cada noche a las 00:00

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target